easydict==1.9
lmdb==1.0.0
matplotlib==3.3.3
msgpack==1.0.1
numpy==1.22
onnxruntime-gpu==1.12.0
opencv-python==4.7.0.72
pandas==1.1.5
pickleshare==0.7.5
Pillow==8.1.2
tornado==6.3.2
tqdm==4.66.1
timm==0.9.12
tensorboard==2.4.0
protobuf==3.15.0
imageio==2.3.0
scikit-learn==1.0.2
scipy==1.10.0
